graphics:
{
    well:
    {
        block_size: 10;
        block_padding: 2;
    };
    window:
    {
        title: "Tetris";
        width: 400;
        height: 640;
    };
    tetriminoes_colors:
    {
        I: 0x3df4f4;
        L: 0xfaa022;
        J: 0x0923a5;
        S: 0x32bd11;
        Z: 0xbc1010;
        T: 0xb40fb4;
        O: 0xf0f019;
    }
};
